= content_for :head do
  = javascript_include_tag 'roots'

%h2 作ったもの一覧

%span.red ※ このページは Ruby on Rails で作られてます

%table.table.table-striped.table-hover
  %thead
    %tr
      %th.center 成果物
      %th.center 説明
  %tbody
    %tr
      %th.center= link_to "iOSアプリ　『戦場の勇者』", "https://itunes.apple.com/jp/app/zhan-changno-yong-zhe/id913443123?mt=8", target: "blank"
      %td
        ファミコン『戦場の狼』をオマージュした作品ですが、完成品は全くの別物。
        %br
        = link_to '開発言語', '#', class: 'btn btn-xs btn-primary open-ios'
    %tr
      %th.center= link_to "シューティングゲーム", "https://www.youtube.com/watch?v=m1FQUBi3At8", :target => "blank"
      %td
        youtubeにプレイ動画を公開中。
        %br
        = link_to '開発言語', '#', class: 'btn btn-xs btn-primary open-shoot'
    %tr
      %th.center= link_to "会社の悪を暴くツール", bunseki_path
      %td
        前職で遊びで作ったもの。グラフはhighcharts-railsで作成。
        %br
        = link_to '開発言語', '#', class: 'btn btn-xs btn-primary open-bunseki'
    %tr
      %th.center= link_to "LINE スタンプ　『リア充に憧れるカッパ』", "https://store.line.me/stickershop/product/1109084/ja", target: "blank"
      %td
        LINEスタンプ作って販売してみました。2/5申請して承認されたのは5/5。
    %tr
      %th.center= link_to "勉強会発表資料", work_path
      %td
        大企業とベンチャー企業のメリデメについて発表しました。
    %tr
      %th.center= link_to "githubアカウント", "https://github.com/InvokeTwoA", :target => "blank"
      %td
        各種ソースコードは公開中です。
    /%tr
    /  %td= link_to "勉強会資料", study_path
    /  %td
    /    今まで経験した３社それぞれでのPJの進め方。
    /%tr
    /  %td= link_to "技術ブログ", "http://invoketwoa.hatenablog.com/", :target => "blank"
    /  %td
    /    自分用のメモ。基本的にゴミ情報しかない。
    /    ※外部ページなので別ウィンドウ
